ul {
  display: flex;
  justify-content: flex-end;
}
li {
  list-style-type: none;
  text-decoration: none;
  padding: 0.5rem 1rem;
}
.headerLink {
  text-decoration: none;
  font-weight: bold;
}
.header-main {
  display: flex;
  justify-content: space-between;
  max-width: 1190px;
  margin: 0 auto;
}
